.outputunchecked{
    background-color: palegoldenrod;
    border-radius: 20px;
    padding: 1em;
    margin: 4em 4em;
    min-width: 40%;
}
.outputunchecked__header{
    text-align: center;
    font-size: 2em;
}
.outputunchecked__li{
    background-color: palegreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.outputunchecked__li:nth-child(odd){
    background-color: paleturquoise;
}
.outputunchecked__li h2{
    font-size: 2em;
}
.outputunchecked__ul{
    list-style-type: none;
    padding-left: none;
}